.lorem1{
    text-align: center;
    margin: 20px;
}
#lorem{
    color: white;
}
h6{
    color:rgb(83,83,83);
}
string{
    color: white;
}
body{
    background-color: rgb(27,15,0);
}
#elementos{
   display: flex;
   text-indent: 50px;
}
#cor{
background-color: white;
}
