*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #d1ebfe;
}
#div-form{   
    display: flex;
    justify-content: center;
}
#form{
    display: inline-block;
    padding: 50px;
    width: 50%;   
    border: solid 1px rgb(132, 175, 209);
    border-radius: 20px;
    background-color:whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

#div-buttons-form{
    display: flex;
    justify-content: space-between;
}

.buttons-form{
    width: 49.5%;
}

.divs-form{
    margin-bottom: 15px;
}
#img-login {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    z-index: -1;    
}
#title-form{
    display: flex;
    justify-content: center;
    font-family:'Courier New', Courier, monospace;
}
#title-main{
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size:100px
}
#span-login{
    margin-left: 20px;
    color: rgb(132, 175, 209);
}
#modal-login{
    width: 25%;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d1ebfe;
    display: inline-block;
    border: 1px solid rgb(132, 175, 209);
    border-radius: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.bi-x-lg{
    display: flex;
    justify-content:flex-end;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}
#div-text-modal{
    background-color: #fff;
}