#resultado{
    width: 200px;
    height: 30px;
    border-style:ridge;
    border-radius: 15px;
    border-color: black;
    background-color: white;
}
.botao{
    background-color: 	#A9A9A9;
    border-color: white;
    padding: 10px 20px; 
    text-align: center; 
    display: inline-block; 
    font-size: 16px; 
    margin: 5px 5px; 
    cursor: pointer; 
    border-radius: 20px; 
    transition-duration: 0.4s; 
    border-style: inherit;
}
a{
    text-decoration: none;
    color: black;
}
#calculo{
    background-color: 	#A9A9A9;
    border-color: white;
    padding: 10px 20px; 
    text-align: center; 
    display: inline-block; 
    font-size: 16px; 
    margin: 5px 4px; 
    cursor: pointer; 
    border-radius: 20px; 
    transition-duration: 0.4s;
    border-style: inherit;
}
