
body{
    background-color: #001a35;
}
#title-header {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: normal;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

#title-header:hover {
  color: #6cbad7;; /* Cor alterada ao passar o mouse */
  transform: scale(1.1); /* Aumenta o tamanho do título */
}

@keyframes titleAnimation {
  0% {
    transform: scale(1); 
  }
  50% {
    transform: scale(1.2); 
  }
  100% {
    transform: scale(1); 
  }
}

#title-header:active {
  animation: titleAnimation 0.3s ease-in-out; 
}




.filme {
    margin: 0 auto;
    width: 90%;
    color: black;
    margin-bottom: 50px;
    padding: 10px;
    background-color:#6cbad7;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    
  }
  
  .titulo {
    font-size: 50px;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    margin-top: -150px;
  }
  
  .campo-titulo {
    font-weight: normal;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .resumo,
  .generos,
  .titulos-semelhantes,
  .classificacao,
  .elenco {
    margin-bottom: 10px;
    text-align: center;
    margin-top: -20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
  }
  
  .imagem {
    width: 300px;
    height: auto;
    margin-top: 20px;
    margin-right:  70%;
    border: 5px solid #000000; 
  }
  
  .descricao {
    text-align: justify;
  }
  
  .filme:hover {
    transform: scale(1.02); 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
    border: 4px solid white; 
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; 
  }
  .faixa-etaria{
    width: 50px;
    height: 50px; 
    border: 2px solid black; 
    border-radius: 4px; 
  }
  .faixa-verde {
    background-color: green;
  }
  
  .faixa-amarelo {
    background-color: yellow;
  }
  
  .faixa-vermelho {
    background-color: red;
  }
  @media (min-width: 320px) and (max-width: 700px){
    #title-header {
      text-align: center;
      color: rgb(255, 255, 255);
      font-size: 25px;
      font-weight: normal;
      font-family: 'Times New Roman', Times, serif;
      cursor: pointer;
      transition: color 0.3s ease-in-out;
    }
    .filme {
      width: 80%;
      padding: 20px;
      margin: 0 auto;
      margin-bottom: 50px

    }
  
    .imagem {
      width: 70%;
      margin: 0 auto;
    }
  
    .titulo {
      font-size: 30px;
      margin-top: 25px;
    }
  
    .campo-titulo {
      font-size: 20px;
    }
  
    .resumo,
    .generos,
    .titulos-semelhantes,
    .classificacao,
    .elenco {
      font-size: 16px;
    }
  }
  
  #opinioes-rating{
      margin-top: 20px;
      font-size: 22px;
  }






