body{
    background-color: black;
}
#title{
    color: white;
    text-align: center;
}
#content{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.link{
    color: white;
    text-decoration: none;
    font-size: 25px;
}
.link:hover{
    transform: scale(1.1);
    color: aqua;
}